/*--- Table style ---*/

.right-side-table .ui-datatable-thead>tr>th{
    border:none !important;
    padding:0 5px 5px !important;
    margin: 0 !important;
    background: transparent;
    font-size: 12px !important;
    text-align: left;
    position: relative;
}
.right-side-table .ui-datatable-thead>tr>th:hover{
    background: transparent !important;
}
.right-side-table .ui-datatable .ui-datatable-data>tr>td{
    border: none !important;
    padding: 10px !important;
    font-size: 12px !important;
    
}
.right-side-table .ui-datatable .ui-datatable-data>tr>td div span:hover{
    color: #E40046;
}
.right-side-table .ui-datatable .ui-datatable-data>tr>td:first-child{font-weight: 600;}

.right-side-table .ui-widget-content{
    border: none !important;
    overflow-y: auto;
}
.right-side-table  .ui-datatable tbody > tr.ui-widget-content.ui-datatable-even{
    background:   #F2F2F2 ;
}
.right-side-table .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd{
    background: transparent;
}
.right-side-table .ui-sortable-column.ui-state-active span{
    color: #642667 !important;
}
.ui-datatable table{max-width: 100%;}
.mainTable{

}
.mainTable .nav-tabs .nav-link.active{
    border: transparent;
    color: #642667;
    background: #fff;
    height: 42px;
}
.mainTable .nav-tabs{border-bottom: transparent;}
.mainTable .tab-content{
    background: #fff;
    margin-top: 0px;
    border-radius: 0 6px 6px 6px;
    min-height: 300px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.bg-white{background: #fff;}
.mainTable .nav-tabs .nav-link:hover,
.mainTable .nav-tabs .nav-link:focus{border-color: transparent; }
.mainTable .nav-tabs .nav-link{
    background: #e4e4e4;
    color: #333;
    margin: 0 5px;
    padding: 9px 20px;
    text-align: center;
}
.mainTable .nav-tabs li:first-child .nav-link{
    margin-left: 0;
}
.searchBox{
    float: left;
    width: 100%;
    padding: 10px 0;
}

.searchBox input[type='search']{
    width: 200px;
    border-top:none;
    border-left: none;
    border-right:  none;
    height: 30px;
    padding: 5px 30px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px 8px;
    margin-left: 10px;
    line-height: 30px;
    background-color:  rgba(242,242,242,0.5);
    border: transparent;
    box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
    -o-box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
}
.tab-content.expand-div.wide-div{
    height:600px;
    transition:.5s;
    overflow-x: hidden
}
.crud-div.wide-div{
    /*height:600px !important;*/
    transition:.5s;
}
.square-box{
    float: left;
    height: 30px;
    width: 27px;
    border-radius: 3px;
    line-height: 30px;
    border: 0.5px solid #d4d4d4;
    text-align: center;
}
.h-555{
    height: 566px;
}
.supp-selected{
    width: auto;
    height: auto;
    border-radius: 7.5px;
    background-color: #e40046;
    color: #fff !important;
    padding: 2px 5px;
}
.supp-selected-popover{
    width: auto;
    height: auto;
    font-size: 10px;
    border-radius: 7.5px;
    background-color: #e40046;
    color: #fff;
    padding: 2px 5px;
}
.condition{
    margin-top: 5px;
}
.drag-rule{
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}
.Rectangle-6127 {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #e40046;
    color: #fff;
    padding: 0px 5px;
    margin-left: 5px;
    font-size: 10px;
    float: left;
}
.supp-selected:hover{color: #fff !important;}
.dropElementZone{
    float: left;
    width: auto;
    border-radius: 0 5px 5px 0;
    background-color: #f2f2f2;
    padding: 2px 0;
    margin-left: -15px;
    height: 19px;
    overflow: hidden;
}

.ui-menu, .ui-menu .ui-menu-child{
    background: #fff !important;
}
.suppNameSpan{font-size: 12px;}
.ui-cell-data .fa-external-link{font-size: 9px;}
.ui-menu .ui-menuitem .ui-menuitem-link{color: #838383;}
.Rectangle-6677 { 
    width: 107px; 
    height: 92px; 
    border-radius: 3px; 
    background-color: #f9f9f9; 
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1); 
    border: solid 1px #b4b4b4; 
}
.ui-widget{font-family: 'gt_walsheim_regularregular' !important}
.ui-menu{padding:0 !important;}
.ui-menu .ui-menuitem .ui-menuitem-link{text-align: center;padding: 3px;font-size: 14px;}
.ui-menu .ui-menuitem .ui-menuitem-link:hover{
    background-color: #e40046 !important;
    color: #fff !important;
    border-radius: 0;
}
.ui-menu .ui-menuitem{padding: 0 !important;margin: 0 !important;}
.ui-menu .ui-menuitem a{padding: 10px !important;}

/*bubble*/
div.speech {
    float: right;
    position: absolute;
    width: 209px;
    height: auto;
    background-color: #f9f9f9;
    border: 6px solid transparent;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3) !important;
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.3) !important;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3) !important;
    z-index: 99;
    display: block;
    right:20px;
    bottom:20px;
}

div.speech:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #f9f9f9;
    border-width: 15px;
    margin-left: -15px;
}
.filter-text-highlight{
    color: #e40046;
}

.dropdown-item.active, .dropdown-item:active{background-color: transparent !important;}
.float-right.addBtn{width: 64px;}
.ui-datatable-tablewrapper .ui-state-highlight{
    background-color: #8b5d8d !important;
}
.dropdown-menu{
    border-color: transparent;
}
.bold-font{
    font-weight:bold;
}
textarea {
    resize: none;
}

.height-auto{
    height: auto !important;
}
