<footer>
    <div class="container-fluid">
        <div class="footer-wrapper">
            <div class="float-left col-sm-2 pl-0"><a href="javascript:;" class="footer-logo"><img src="assets/images/footer-logo.png" class="img-fluid" alt=""/></a></div>
            <div class="float-right col-sm-2 text-right pr-0"><p class="color-c7">Emagine © 2017</p></div>
        </div>
    </div>
</footer>